.anchoImg {
    height: 450px!important;
}

.master {
    color: black;
    font-size: 4rem;
}

.navbar-brand {
    font-family: Georgia, 'Times New Roman', Times, seria;
    font-size: 3rem;
    padding: 0.5rem;
    margin: 0.5rem;
}

.nav-link {
    color: white;
    font-size: 1.5rem;
}

.tituloPrincipal {
    color: red;
    padding: 1rem;
    margin: 1rem;
    text-align: center;
}

.textoOfertas {
    padding: 1rem;
    margin: 1rem;
    font-size: 2rem;
    text-align: center;
}

h3 {
    font-size: 1.5rem;
}

footer {
    height: 9rem;
    background-color: #DC3545;
}

.textoFooter {
    text-align: center;
    font-size: 1.3rem;
    color: white;
    padding-top:  1rem;

}

.textoFooterUno {
    text-align: center;
    font-size: 1rem;
    color: white;
}

.imagenIconos {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 1.5rem;
    gap: 2rem;
}

.iconosLink {
    color: white;
}

.iconosLink:hover {
    color: black;
}

.nav-link:hover {
    color: black;
}

.parrafoNosotros,
.parrafoSecundario {
    margin-top: 5rem;
    margin-bottom: 5rem;
    text-align: justify !important;
}


/* MEDIA QUERY */

@media only screen and (max-width: 768px) and (min-width: 450px) {
    .anchoImg{
        height: 200px!important;
    }

    h1{
        font-size: 1.5rem;
    }

    .textoOfertas {
        font-size: 1rem;
    }

    .navbar-brand {
        font-size: 2rem;
    }
    
    .master {
        font-size: 3rem;
    }
}

@media only screen and (max-width: 1024px) and (min-width: 769px) {
    .anchoImg{
        height: 350px!important;
    }
}